.page-header {
    margin: 30px 0 20px;
    padding: 0;
    vertical-align: middle;
    border-bottom: 4px solid #eee;
}

.page-header h2 {
    display: inline-block;
    margin-bottom: 5px;
}

.btn-header {
    float: right;
    margin: 6px 0 0 10px;
}

.subject {
    height: 40px;
    line-height: 40px;
}

.btn-subject-status {
    float: right;
}

.user-information {
    margin-bottom: 20px;
}

.trainee-information {
    margin-bottom: 20px;
}

.statistic {
    color: #f59e3c
}

#header {
    height: 100px;
    border-bottom: solid 1px #ebe4dd;
}

.menu ul li {
    border-left: solid 1px #ebe4dd;
}

.menu ul li:last-child {
    border-right: solid 1px #ebe4dd;
}

.logo a img {
    height: 95px;
    width: 200px;
}

#left-sidebar {
    margin-top: 50px;
}

.title {
    font-style: italic;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#login-message, #register-message {
    display: none;
}

.required:after {
    content: '*';
    color: red;
    padding-left: 5px;
}
