// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.page-header {
  margin: 30px 0 20px;
  padding: 0;
  vertical-align: middle;
  border-bottom: 4px solid #eee;
  h2 {
    display: inline-block;
    margin-bottom: 5px;
  }
}
.btn-header {
  float: right;
  margin: 6px 0 0 10px;
}
